@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Montserrat+Alternates:ital@1&display=swap');

*{
    margin: 0;
    padding: 0;
}




/* Navbar styling */

.navbar{
    width: 100%;
    height: 60px;
    background-color:#D1FCEF;    
}

li{
    display: inline-block;
}
.logo{
    display: block;
    float: left;
    margin-left: 7.43055%;
    margin-top: 12px;
    margin-right: 0;
}

.geo{
   
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    font-weight: 700;
    color: #079999;
    margin-left: 4.86%;
    margin-top: 20px;
   

}

.sol{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 18.29px;
    color: #079999;
    margin-left: 4.86%;
}

.text{
    margin-left: 4.86%;
    margin-top: 20px;
    color: #002F31;
    font-family: 'Montserrat Alternates';
    font-weight: 500;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
    float: right;
    /* margin-right: 5%; */
}
.text.first{
   width: 55px;
  
}
.text.second{
    width: 67px;
}
.text.third{
    width: 82px;
}
.text.fourth{
    width: 90px;
}
.text.fifth{
    width: 51px;
    margin-right: 7.43055%;
}
a{
    text-decoration: none;
}

/* Navbar styling */

/* Main Styling */

.main{
    width: 100%;
    height: 620px;
    background: #079999;
    display: flex;

}
.st-order{
    width: 50%;
    height: 100%;
  
}

.why{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: left;
    color: #002F31;

    margin-left: 30px;
    margin-top: 100px;


}

.we{
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 42.5px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: 75.13888888%;
    margin-left: 98px;
    letter-spacing: 1.2px;

}

.with{
    margin-left: 79px;
    width: 579px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;


}

.btn-1{
    height: 42px;
    width: 153px;    
    border-radius: 7px;
    padding: 11px, 30px, 11px, 30px;
    border: none;
    margin-left: 27.013888888%;
    margin-top: 25.5px;
    background-color:  #FF8749;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
}

.btn-2{
    height: 42px;
    width: 153px;    
    border-radius: 7px;
    padding: 11px, 30px, 11px, 30px;
    border: none;
    margin-left: 5.83%;
    margin-top: 25.5px;
    background-color:  #FF8749;
    background: none;
    border: solid #FF8749 2px;
    font-weight: 700;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 16px;
    line-height: 19.5px;
    text-align: center;
}

.nd-order{
    width: 50%;
    height: 100%;
     
}

.first-row{
    margin-top: 102px;
}

.nd-row{
    margin-top: 3px;
    margin-left: 4.4444444%;
}

/* Main Styling */













